*{
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}

body{
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}
/* STYLEGUIDE SETTINGS */
.link{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #131821;
}

.link:hover{
    color: #4066A5;
}

.link:active{
    color: #233759;
}

.heading{
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #131821;
}

.subheading{
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}

input{
    width: 310px;
    height: 70px;
    background: #FFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    padding-left: 44px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6A707B;
}

input::placeholder{
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6A707B;
}

input:focus{
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #E3E3E4;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    outline: none;
}

input:focus::placeholder{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6A707B;
}

input:hover{
    background: #FFFFFF;
    border: 1px solid #4066A5;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}
input:hover::placeholder{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #131821;
}
input:hover line{
    background: #4066A5;
    width: 4px;

}
input:hover ic_arrow{
    background: #4066A5;
}

input[type=checkbox]{
    width: 26px; 
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-radius: 3px;
}

label{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 2px solid #E2E3E4;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
}
i{
    display: block;
    color: #131821;
    opacity: 0.3;
}
.social:hover{
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}
.facebook:hover{
    background: #4267B2;
    border: 2px solid  #4267B2;
}
.social:hover i{
    color:#FFF !important;
    opacity: 1;
}
.instagram:hover{
    background: #C13584;
    border: 2px solid  #C13584;
}
.twitter:hover{
    background: #1DA1F2;
    border: 2px solid  #1DA1F2;
}
.youtube:hover{
    background: #FF0000;
    border: 2px solid  #FF0000;
}
.facebook:active{
    background: #2F4A80;
    border: 2px solid  #2F4A80;
}
.instagram:active{
    background: #8F2762;
    border: 2px solid  #8F2762;
}
.twitter:active{
    background: #177FBF;
    border: 2px solid  #177FBF;
}
.youtube:active{
    background: #CC0000;
    border: 2px solid  #CC0000;
}
.social:hover i{
    color: #FFFFFF;
}
.social:active i{
    color: #FFFFFF;
}

/* END OF STYLEGUIDE SETTINGS*/
#email_wrapper{
    position: relative;
    /* width: 130%; */
}
#email{
    width: 100%;
}
#arrow{
    position: absolute;
    top: 1px;
    right: 1px;
    height: 68px;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #FFF;
    background-image: url("./images/ic_arrow.png");
    background-repeat: no-repeat;
    background-position: center center; 
}
#arrow:hover{
    background-image: url("./images/ic_arrow_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer
}
#submit{
    display: none;
}
#social_icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (min-width: 300px){
    #pineapple_with_text{
        display:none;
    }
    #top_bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        height: 55px;
        background:#FFF;
    }
    #pineapple_without_text{
        padding: 8px;
    }
    #top_bar_links > a:nth-child(2){
        margin:20px;
    }
    .right{
        display:none;
    }
    .left{
        background-image: url("./images/image_summer_mobile.png");
        background-position: 0 53px;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;

    }
    #main{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #wrapper{
        background-color: #FFF;
        width: 90%;
        height: 50%;
        padding: 15px;
    }
    .heading{
        font-size: 19px;
        line-height: 13px;
    }
    .subheading{
        font-size: 12px;
        line-height: 20px;
    }
    input{
        height: 50px;
        padding-left:15px;
        font-size: 11px;
    }
    input::placeholder{
        font-size: 11px;
    }
    input:focus::placeholder{
        font-size: 11px;
    }
    input:hover::placeholder{
        font-size:11px;
    }

    input[type=checkbox]{
        width: 23px;
        height: 23px;
    }
        #arrow{
        height: 48px;
        width: 48px;
    }
    #tos{
        display: flex;
        align-items: center;
    }
    .link{
        font-size:12px;
        line-height: 20px;
    }
    #errors{
        position: absolute;
        top: 50px;
        left: 0px;
    }
}
@media (min-width: 412px){
    .left{
        background-image: url("./images/image_summer.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
@media (min-width: 540px){
    .heading{
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #131821;
    }
    .subheading{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: #6A707B;
    }
    #wrapper{
        height: 60%;
        width: 80%;
    }
    input{
        height: 50px;
        padding-left:15px;
        font-size: 14px;
        line-height: 26px;
    }
    input::placeholder{
        font-size: 14px;
        line-height: 26px;
    }
    input:focus::placeholder{
        font-size: 14px;
        line-height: 26px;
    }
    input:hover::placeholder{
        font-size: 14px;
        line-height: 26px;
    }
    input[type=checkbox]{
        width: 26px; 
        height: 26px;
    }
    .link{
        font-size: 14px;
        line-height: 26px;
    }
}
/* @media(min-width: 920px){
    #wrapper{
        padding:30px;
        height: 80%;
    }
} */

@media (min-width: 920px){
    body{
        display: flex;
    }
    .left{
        flex-basis: 40%;
        background-image: none;
    }
    .right{
        flex-basis: 60%;
        display: block;
        background-image: url("./images/image_summer.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #top_bar{
        position: relative;
        top: 60px;
        width: 85%;
        margin: auto;
    }
    #main{
        height: 100%;
    }
    #wrapper{
        height: 50%;
        position: relative;
        top: 10px;
        width: 100%;
        padding: 0;

    }
    #banner{
        width: 80%;
        margin: 0 0 0 auto;
    }
    #email_wrapper{
        margin-left: 50px;
        width: 100%;
    }
    #errors{
        top:70px;
    }
    #tos{
        width: 80%;
        margin: 30px 0 30px auto;

    }
    hr{
        width: 65%;
        margin: 30px auto;
    }
    .heading{
        font-size: 28px;
        line-height: 20px;
    }
    .subheading{
        font-size: 16px;
        line-height: 20px;
    }
    #social_icons{
        width: 50%;
        margin: 0 auto;
    }

}
@media (min-width: 1400px){
    #top_bar{
        align-items: flex-end;
    }
    #pineapple_with_text{
        display:block;
    }
    #pineapple_without_text{
        display:none;
    }
    .left{
        flex-basis: 35%;
    }
    .right{
        flex-basis: 65%;
    }
    #top_bar{
        width: 75%;
        margin: auto;
    }
    #wrapper{
        padding: 35px 0;
    }
    #email_wrapper{
        margin-left: 70px;
    }
    
    
}